/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

* {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
}
.container {
	padding: 5px;
	height: 100%;
	margin: 0 auto;
	display: flex;

}
.flex__item-main {
	flex: 1 1 33.333%;
}
.flex__item {
	flex: 1 1 auto;
}
.input__text {
	resize: none;
	width: 100%;
	height: 100%	;
	border: 5px dotted #999;
	padding: 5px;
}
.selector {
	padding: 5px;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.selector__top {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.selector__alphabet {

}
#alphabet {
	border: 1px solid #a9a9a9;
	padding: 2px;
}
.selector__switch {

}
#observer {
	margin: 0 2px;
}
#conveyer {
	margin: 0 2px;
}
.selector__checkboxes {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.check {
	display: inline-block;
	margin: 5px 0 20px 0;
	text-align: center;
}
.caesar__offset {
	border: 1px solid #a9a9a9;
	width: 40px;
	padding: 2px;
	margin: 0 5px 0 0;
}
.vigener__keyword {
	border: 1px solid #a9a9a9;
	padding: 2px;
	margin: 5px 0 0 0;
}
.output {
	padding: 5px;
	display: flex;
	flex-direction: column;
}
.encryption {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px 0 20px 0;
}
.encryption__radio {
	margin: 0 0 10px 0;
}
#encrypt {
	margin: 0 2px;
}
#decrypt {
	margin: 0 2px;
}
.encryption__button {
	border: 1px solid #a9a9a9;
	width: 150px;
	height: 50px;
}
.encryption__button:active {
	box-shadow: inset 1px 1px 5px 0 #ccc;
}
.encryption__text {
	resize: none;
	width: 100%;
	border: 5px dotted #999;
	padding: 5px;
}
@media (max-width: 1080px) {
	.container {
		flex-direction: column;
	}
}